<div class='content-center'>
	<p style="padding:10px">
		With much courage, I present to you my first ever CHOREO/DANCE COLLAB. Although it is not cleanest or sharpest choreo, it was so much fun to put together with the little time we had, practicing in bathrooms, under street lamps and basement windows. 
		Never did I realize how hard it was to choreograph something until I tried it. This was a huge learning experience and a great winter break project, creating a dance routine and teaching it to my friend. I can't believe how long it took to even come up with 5 sec of choreo, and I give huge props to every choreographer out there that dedicates so much time into creating their best routine for every set. 
		Huge shout out to my friend Keshav Mangalick, who choreographed Little Things, which was adapted from Ian Eastwood, for taking the time to do this with me.
		Special thanks to John Ke for helping edit the film.
		Acknowledgements to Tony Cui and Varun Mangalick for comedic support. 
		Huge inspiration from enVision Choreo. Enjoy!
	</p>
 
	<iframe width="560" height="315" 
		      src="//www.youtube.com/embed/ReXV2LGk2cw" 
		      frameborder="0" allowfullscreen>
	</iframe>