<div style="margin-left: 30px">  
  <h1>Social Media</h1>
  <br>
  <ul class="links">
    <li>
      <a href="https://www.facebook.com/samhykim">
        <img class="social-media" ng-src="/assets/img/links/facebook.png"></img>
        Facebook
      </a>
    </li>
    <li>
      <a href="www.linkedin.com/in/samhykim/"> 
        <img class="social-media" ng-src="/assets/img/links/linkedin.png"></img>
        Linkedin
      </a>
    </li>
    <li>
      <a href="https://github.com/samhykim">
        <img class="social-media" ng-src="/assets/img/links/github.png"></img>
        Github
      </a>
    </li>
    <li>
      <a href="http://instagram.com/samhykim/">
        <img class="social-media" ng-src="/assets/img/links/instagram.png"></img>
        Instagram
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/+SamKim3216">
        <img class="social-media" ng-src="/assets/img/links/googleplus.png"></img>
        Google+
      </a>
    </li>
  </ul>
</div>