<h1>EE20 Spring 2014</h1>
<div class="move-right">
	<h2>Structure and Interpretation of Signals and Systems</h2>
	<p>*All discussion worksheets and solutions will be posted here. 
			In addition, cheatsheets, practice problems, and guides may be added
			to help study for exams.
		</p>
	<div class="row">
		<div class="span8">
			<h3>Discussion Worksheet and Solutions</h3>
			<ul>
				<a href="/downloads/ee20/prereqQuiz.pdf" class="medium-font" target="_self">Discussion 1</a>&nbsp;
				<a href="/downloads/ee20/preregQuizSolutions.pdf" class="medium-font" target="_self">(Solutions)</a>
			<ul>
		</div>
		<div class="span4">
			<br>
			<b>Discussion Section:</b>
			<p>Wednesday 11-12pm 285 Cory</p>
			<br>
			<b>Lab Section:</br>
			<p>Friday 12-3pm 105 Cory</p>
			<br>
			<b>Homework Parties</br>
			<p>Wednesday 5-7pm 540 Cory</p>
			<p>Thursday 3-5pm Wozniak Lounge Soda</p>
		</div>
	</div>
</div>