<div>
	<h3 class="content-center">
		My summer internship at <img src="/app/img/apptimize-logo.png" class="logo-background retina">
	</h3>
	<br>
	<pre-custom>
Dear Nancy and Jeremy,
		
	Can you believe 11 weeks have already gone by? And in that short amount of time, can you believe how much I was able to accomplish
	and learn and see how much the company has grown? I distinctly remember my first day on the job. Even further back in time, 
	I can clearly remember when I first met you guys through our first skype session. In the second semester of my freshman year, I 
	randomly came upon a site called CollegeFeed, which seemed to be a great new site for college students to connect with employers. 
	It apparently had just launched at that time, and I so happened to be one of the first college students to sign up for an account. 
	One day, the CEO reached out and told me that there is a great new startup called Apptimize. They are looking for people who knew 
	frontend design, server/operation stuff, android/ios, java, etc...and many other words that I didn't understand. The only word that 
	stood out to be was Java, and I was like, "Hey I know java! Sanjeev, please make the connection." Who knew that that one small gesture 
	from him would take me so far.

	When I first met Nancy through skype, I felt pretty chill since Nancy had a very relaxed, but fun presence. All she gave me 
	was a simple piece of java code to debug and told me what A/B testing is all about. Then came Jeremy, the wise master. When he showed 
	me a piece of code that was written in html and angularjs, I don't know if you could tell or not, but I was pretty damn nervous. What 
	the heck was going on? Literally, the things going through my head were thoughts like "well I'm screwed. Guess I gotta sign up for 
	summer school" or "What the heck is an ng-repeat???" 

	A couple of weeks later when Nancy messaged me saying she wanted to give me another shot, I couldn't really believe it. All I had to do 
	was make a little project written in angularjs, something I had no experience with, let alone having any experience with javascript 
	or html. But rarely do we get second chances so I was determined to take on that challenge and do a good job with it. And that was the 
	beginning of my experience with Apptimize.

	You know looking back, I can't really believe why Jeremy thought I could do a good job as an intern. When I looked back at that project, 
	which was a simple todo list and calendar, my code style was completely terrible. Wow, the haphazard style of my html was just too 
	depressing to look at. While I thought back then that "Oh man Jeremy is going to be super impressed with this," little did I know how much 
	he gave me for granted. 

	But no matter what the reasons were for you to have me as your intern this summer, I can't thank you guys enough for the opportunity
	you have provided me. They say the experience you gain from a startup is worth more than any experience at a big company, and I 
	couldn't agree more. Not only was I able to learn huge amounts of angularjs, html, css, javascript, postgres, jooq, but also how to 
	work in such an environment, communicate with others, do a good job, and learn how to do things the right way the first time. Overall,
	I was able to do so much more than if I worked at a large company. Although all of these things can still be improved, I have gain a 
	huge head start that is definitely going to propel me further in my career. 

	What was even more rewarding was feeling that I actually made a significant contribution to the company. Being in charge of 
	account management, adding many functionalities for super admins, creating database constraints, writing many api calls, and many
	others were awesome to do, knowing that I had a responsibility in the company. And seeing the results on the actual site was even
	cooler. So thanks Jeremy for always having something for me to do. 

	My experience at Apptimize definitely had its ups and downs, especially in the beginning. I can imagine how difficult it must have 
	been to deal with my lack of experience and my COMPLETELY horrible style issues (^_^). There were definitely some days I knew
	I had performed poorly and one of the things I really hate is letting people down. But I'm glad to say it has been a steady
	upward climb from then on through the whole summer. This summer, I was also actually a reader for an introductory cs course at 
	Berkeley and it was pretty cool to see how much I could apply what I learned about clean and efficient code to the projects I 
	were grading. I was even tempted to just write 'lgtm' sometimes on their project....lol. 

	On a final note, I just can't express how much I really appreciate this summer with you guys. It has definitely been my productive summer
	yet and has greatly prepared me for the next 100 years. And hopefully this little project shows you how much I was really able to get out
	of this summer. Although I wasn't the best intern you could have had, I hope you feel the time you invested in me was rewarding for you 
	guys and that it will pay off in the future. I always hate saying goodbyes but why should I? I hope we can still connect and communicate.
	Definitely, I would like to hear updates about how the company is doing, and likewise I will do the same. Again, thanks Nancy and Jeremy
	for having some faith to have me as your intern. And most of all, thanks for a fun experience! Going rock climbing, having a game night, 
	watching Wolverine and Kickass 2, driving with Jeremy like he's street racing, going out for a nice dinner, playing DDR and starcraft were 
	awesome opportunities to socialize and get to know each other better. I'm really glad that Demo Day went amazingly well for you guys and
	wish for your continual success for many years to come. One closer step to becoming a billion dollar company? I think so. 
	Thanks Nancy for being so fun and giving me that second chance.
	Thanks Jeremy for teaching me so much over the summer.

	Sincerely your first intern,
	Sam Kim

	Keep in touch!

										<img src="/app/img/group.jpg" class="group">
	</pre-custom>

</div>