<div>
	<script type="text/ng-template" id="modal.html">
  <div class="modal-header">
  	<h3 class="modal-title">The Forbidden Domain</h3>
  </div>
  <div class="modal-body">
  	<form>
		  <fieldset>
		    <label>Enter Password (if you dare)</label>
		    <input type="text" ng-model="$parent.password" placeholder="password…">
		  </fieldset>
		</form>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-primary" ng-click="enter()">Enter</button>
	  <button class="btn btn-warning" ng-click="dismiss()">Close</button>
	</div>
	</script>

	<div ng-show="enabled">
		Welcome
	</div>
</div>