<div id="walkthrough">
    <div id="step1" style="display:none;">
        <p class="tooltipTitle">Welcome to my page!</p>
        <p class="walkthrough-body">Hey guys, welcome to my end of internship project. Woo, I put the walkthrough thing I figured out to use here.
            I mainly just made this site to showcase to you how much I learned over the summer and how rewarding it really was.</p>
        <br>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="step2" style="display:none;">
        <p class="tooltipTitle">Nav Tabs</p>
        <p class="walkthrough-body">Looks familiar right? I really liked this left-menu thing. It's pretty awesome what you can do with css.
                But once ng-animate becomes fully functional, that'll be really cool to implement.</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
    </div>
    <div id="step3" style="display:none;">
        <p class="tooltipTitle">End of walkthrough</p>
        <p class="walkthrough-body">Pretty short walkthrough. Please feel free to spend some time on my site.
            But please click on the last tab at the end. You must read that LAST. Enjoy!</p>
        <br>
        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
    </div>
   
</div>